@import "apply";
@import "home";
@import "login";
@import "player";
@import "players";
@import "projects";
@import "register";
@import "shop";
@import "status";
@import "support";

main.page {
	padding: 50px 0;

	.container {
		max-width: 800px;
	}

	h1, h2, h3, h4, p, ul, ol {
		line-height: 1.6em;
	}

	h1 {
		margin-bottom: 20px;
		font-size: 26px;
	}

	h3 {
		font-size: 18px;
	}

	ul {
		margin-top: 20px;
		padding-left: 20px;
	}
}