main.player {
	padding: 50px 0;

	h3 {
		margin-bottom: 15px;
		font-weight: normal;
	}

	.player-headings {
		overflow: auto;
		margin-bottom: 30px;
		border: 1px solid #EFEFEF;
		border-top: none;
	}

	.player-heading {
		padding: 0;

		&:last-child .caption {
			text-align: right;
		}

		figure, .caption {
			padding-left: 15px;
			padding-right: 15px;
		}
		figure {
			overflow: hidden;
			height: 128px;
		}
		.caption {
			padding: 15px;

			h1 {
				font-size: 1.3em;
			}
		}
	}

	.player-render {
		background-color: $primary;
		background-size: cover;
		text-align: center;

		img {
			position: relative;
			top: 7px;
		}
	}

	.dynmap-grid {
		figure {
			position: relative;
			height: 128px;
			padding: 0;
			background: $darkgrey;
			text-align: center;
		}

		a {
			display: block;
			position: absolute;
			top: -200%;
		}

		img {
			width: 33.3%;
		}

		p, .fa {
			text-shadow: 4px 4px 2px rgba($darkgrey, 0.5);
		}

		p {
			position: absolute;
			bottom: 10px;
			right: 10px;
			margin-bottom: 0;
			text-align: right;
			color: #FFF;
		}

		.fa {
			position: absolute;
			top: 25%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 4em;
			color: #FFF;
		}
	}

	.player-quickstats {
		padding-top: 12px;
		padding-bottom: 12px;

		ul {
			margin-bottom: 0;
			list-style: none;

			li {
				line-height: 2em;
			}
		}

		img {
			width: 20px;
			vertical-align: text-bottom;
			margin-right: 5px;
		}
	}

	.bio {
		margin-top: 10px;

		.btn {
			position: absolute;
			top: 52px;
			right: 35px;
			background: none;
			color: #666;
		}
		.form-control {
			display: inline-block;
			width: 88%;
			background: #FFF;
			color: #000;
			resize: vertical;
		}
		.fa-check {
			color: $success;
		}
	}
}