main.shop {
	padding: 20px 0;

	.shop-intro {
		margin-bottom: 20px;
		padding: 15px 30px;
		border: 1px solid #EFEFEF;
		border-radius: 4px;

		img {
			margin-right: 30px;
			float: left;
		}
		p {
			padding-top: 20px;
		}

		.tokens {
			padding-top: 18px;
			font-size: 32px;

			small {
				position: relative;
				top: -1px;
				font-weight: normal;
				color: #AAA;
			}
		}
	}

	.item {
		button {
			border: none;
			outline: none;
			background: none;
		}
	}

	.modal {
		img {
			width: 100%;
		}

		p {
			line-height: 1.6em;
		}

		.price {
			float: left;
			font-size: 16px;
			font-weight: bold;
		}
	}
}