main.shop {
	padding: 20px 0;
	background: #FFF;

	.shop-intro {
		margin-bottom: 20px;
		padding: 15px 30px;
		border: 1px solid #EFEFEF;
		border-radius: 4px;

		svg {
			margin-right: 30px;
			float: left;
		}
		p {
			padding-top: 20px;
		}
	}


}