main.status {
	height: 100vh;
	padding: 20px;
	background: #F7F7F7;

	.container {
		background: #FFF;
	}

	.servers {
		margin: 0;
		list-style: none;

		li {
			padding: 15px 0 15px;
			border-bottom: 1px solid #EEE;

			&:last-child {
				border-bottom: none;
			}

			.label {
				float: right;
				position: relative;
				top: 2px;
			}
		}
	}
}