.badge-operator {
	background: $operator;
}
.badge-moderator {
	background: $moderator;
}
.badge-builder {
	background: $builder;
}
.badge-vip {
	background: $vip;
}
.badge-default {
	background: $player;
	color: #2F5BD6;
}