.label-operator {
	background: $operator;
}
.label-moderator {
	background: $moderator;
}
.label-builder {
	background: $builder;
}
.label-vip {
	background: $vip;
}
.label-default {
	background: $player;
	color: #2F5BD6;
}
.label-muted {
	background: #AAA;
}