* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: $primary;
}

main {
    background: #FFF;
}

h1, h2, h3 {
    margin-top: 0;
    font-weight: bold;
}
