$primary: #449D44;
$darkgrey: #262626;

$operator: #F55;
$moderator: #55F;
$builder: #0A0;
$vip: #FA0;
$voter: #0AA;
$player: #FF5;

$success: #26C350;
$info: #1AC7EC;
$warning: #E3CC43;
$danger: #E53A3A;

$brand-primary: $primary;

$btn-primary-border: transparent;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1680px;

$section-padding: 80px;