.popover-cart {
	width: 300px;
	color: #333;
}

.popover-footer {
	margin: 0;
	padding: 8px 14px;
	border-top: 1px solid #ebebeb;
	background: #F7F7F7;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}