.popover-cart, .popover-cart-content {
	display: none;
}

.popover-cart {
	width: 300px;
	color: #333;

	.popover-cart-content {
		display: block;
	}

	.empty-state {
		padding: 15px 0;
		text-align: center;

		p:last-child {
			margin-bottom: 0;
		}
	}
}

.popover-footer {
	margin: 0;
	padding: 8px 14px;
	border-top: 1px solid #ebebeb;
	background: #F7F7F7;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}