.alert-flash {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 50%;
	padding: 10px 50px;
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transform: translateX(-50%);
	text-align: center;
	color: #FFF;

	&.alert-success {
		background: rgba($success, 0.7);
	}
	&.alert-info {
		background: rgba($info, 0.7);
	}
	&.alert-warning {
		background: rgba($warning, 0.7);
	}
	&.alert-danger {
		background: rgba($danger, 0.7);
	}

	a {
		color: #D4D4D4;
	}
}