.footer {
    clear: left;
    padding: 50px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .logo {
        float: left;
        width: 130px;
        padding-right: 50px;
    }

    .nav {
        padding-left: 130px;

        @include respond-to(sm) {
            padding-left: 0;
        }

        a {
            display: block;
            line-height: 2em;
        }
    }
}
