.header {
    position: relative;
    padding-bottom: 20px;
    background: url(../img/rpg-aerial.jpg) no-repeat;
    background-size: cover;
    color: #FFF;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0 , 0,0.5) 0%,rgba(0, 0, 0, 0) 100%);
        content: '';
    }

    &.home {
        @include respond-to(md) {
            min-height: 90vh;
        }

        &:before {
            height: 200px;
        }
    }

    .topbar {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        padding-top: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        .social {
            display: inline-block;

            a {
                padding: 0 15px;
                border-left: 1px solid rgba(255, 255, 255, 0.2);
                color: rgba(255, 255, 255, 0.5);
                transition: all 0.2s;

                &:last-child {
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                }

                &:hover, &:focus {
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }

        .btn-copy-ip {
            float: right;
            position: relative;
            top: -5px;
        }
    }

    .header-nav {
        position: relative;
        z-index: 1;
    }

    .nav {
        display: inline-block;
        float: right;
        padding: 12px 0 0;

        > a {
            padding-bottom: 5px;
            margin: 0 10px;
            border-bottom: 3px solid transparent;
            text-decoration: none;
            color: #FFF;
            transition: all 0.2s;

            &.active, &:hover, &:focus {
                border-color: $primary;
            }
        }

        .dropdown {
            display: inline-block;

            > a {
                background: none;
                box-shadow: none;
            }
        }

        .divider {
            position: relative;
            top: 1px;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        > .btn, .dropdown .btn {
            position: relative;
            border: none;
            background: none;
            line-height: initial;

            &:hover, &:focus {
                color: #FFF;
            }
        }

        .btn-user {
            top: -2px;
            margin: 0;
            padding-right: 5px;
            background: none;
            box-shadow: none;
            outline: none;
        }

        .btn-cart {
            top: -1px;
        }
    }

    .hero {
        padding: 50px 0;
        text-align: center;

        @include respond-to(md) {
            padding: 100px 0;
        }

        h3 {
            margin-bottom: 0;
            font-size: 1.5em;
            color: $primary;
        }
        h2 {
            margin-top: 0.1em;
            margin-bottom: 0.3em;
            font-size: 3em;
            text-transform: uppercase;

            @include respond-to(md) {
                font-size: 4em;
            }
            @include respond-to(lg) {
                font-size: 5em;
            }
        }
        p {
            margin-bottom: 3em;
            font-size: 1.1em;
        }

        .btn {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 1em;
            text-transform: uppercase;
        }
    }
}
