.header {
    position: relative;
    padding-bottom: 20px;
    background: url(../assets/rpg-aerial-opt.jpg) no-repeat;
    background-size: cover;
    color: #FFF;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0 , 0,0.5) 0%,rgba(0, 0, 0, 0) 100%);
        content: '';
    }

    &.has-motd {
        padding-bottom: 70px;
    }

    .topbar {
        position: relative;
        z-index: 2000;
        margin-bottom: 20px;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        .social {
            display: inline-block;

            a {
                padding: 0 15px;
                border-left: 1px solid rgba(255, 255, 255, 0.2);
                color: rgba(255, 255, 255, 0.5);
                transition: all 0.2s;

                &:last-child {
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                }

                &:hover, &:focus {
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
        .btn-copy-ip {
            display: none;
            float: right;
            position: relative;
            top: -5px;
        }

        @media(min-width: 280px) {
            padding-bottom: 0;

            .btn-copy-ip {
                display: block;
            }
        }

        .popover {
            z-index: 2000;
            color: #333;
        }
    }

    .header-nav {
        position: relative;
        z-index: 1;
    }

    .logo {
        width: 357px;
        max-width: calc(100% - 50px);
    }

    $bar-width: 32px;
    $bar-height: 4px;
    $bar-spacing: 13px;

    .menu {
        display: inline-block;
        position: relative;
        z-index: 1001;
        float: right;
        margin-top: -($bar-spacing * 1.2);
        width: $bar-width;
        height: $bar-height + ($bar-spacing * 4);
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        .bar {
            position: relative;
            transform: translateY($bar-spacing);
            background: rgba(255, 255, 255, 1);
            transition: all 0ms 300ms;

            &, &:before, &:after {
                width: $bar-width;
                height: $bar-height;
            }

            &:before {
                position: absolute;
                left: 0;
                bottom: $bar-spacing;
                background: rgba(255, 255, 255, 1);
                transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                content: '';
            }
            &:after {
                position: absolute;
                left: 0;
                top: $bar-spacing;
                background: rgba(255, 255, 255, 1);
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                content: '';
            }
        }

        &.active .bar {
            background: rgba(255, 255, 255, 0);

            &:before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &:after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }

    &.nav-open {
        .nav {
            display: block;
            opacity: 0;
        }
    }
    &.nav-show {
        .nav {
            opacity: 1;
        }
    }

    .nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        padding: 50px 0;
        background: $darkgrey;
        text-align: center;
        transition: all 0.3s ease-in-out;

        > a {
            display: block;
            width: 60%;
            margin: 10px auto;
            padding: 10px;
        }

        .dropdown {
            display: inline-block;

            > a {
                background: none;
                box-shadow: none;
            }
        }

        .divider {
            position: relative;
            top: 1px;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        > .btn, .dropdown .btn {
            position: relative;
            border: none;
            background: none;
            line-height: initial;

            &:hover, &:focus {
                color: #FFF;
            }
        }

        .dropdown-menu button {
            display: block;
            width: 100%;
            padding: 3px 20px;
            border: none;
            background: none;
            text-align: left;
            line-height: 1.428571429;
            color: #262626;

            &:hover {
                background-color: #F5F5F5;
            }
        }

        .divider {
            display: none;
        }
        .btn-user {
            top: -2px;
            margin: 0;
            padding-right: 12px;
            background: none;
            box-shadow: none;
            outline: none;

            img {
                width: 16px;
            }
        }
        .btn-cart {
            outline: none;
        }

        @include respond-to(xl) {
            padding-top: 5px;

            .btn-user img {
                width: 32px;
            }
            .btn-cart {
                font-size: 1.4em;
            }
        }
    }

    @include respond-to(md) {
        .menu {
            display: none;
        }
        .nav {
            display: inline-block;
            position: static;
            float: right;
            padding: 12px 0 0;
            background: none;
            text-align: left;

            > a {
                display: inline;
                margin: 0 10px;
                padding: 0 0 5px;
                border-bottom: 3px solid transparent;
                text-decoration: none;
                color: #FFF;
                transition: all 0.2s;

                &.active, &:hover, &:focus {
                    border-color: $primary;
                }
            }

            .divider {
                display: inline-block;
            }
            .btn-user {
                padding-right: 5px;
            }
            .btn-cart {
                top: -1px;
            }
        }
    }

    .hero {
        padding: 50px 0;
        text-align: center;

        @include respond-to(md) {
            padding: 100px 0;
        }

        h3 {
            margin-bottom: 0;
            font-size: 1.5em;
            color: $primary;
        }
        h2 {
            margin-top: 0.1em;
            margin-bottom: 0.3em;
            font-size: 3em;
            text-transform: uppercase;

            @include respond-to(md) {
                font-size: 4em;
            }
            @include respond-to(lg) {
                font-size: 5em;
            }
        }
        p {
            margin-bottom: 3em;
            font-size: 1.1em;
        }

        .btn {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 1em;
            text-transform: uppercase;
        }
    }

    &.home {
        @include respond-to(md) {
            min-height: 90vh;
        }

        @include respond-to(xl) {
            .hero {
                .col-sm-8 {
                    width: 100%;
                    margin-left: 0;
                }

                h3 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 7em;
                }
                p {
                    width: percentage(8 / $grid-columns);
                    margin-left: percentage(2 / $grid-columns);
                    font-size: 1.25em;
                }
            }
        }

        &:before {
            height: 200px;
        }
    }

    .motd {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px;
        background: #AAA;
        color: #FFF;

        &.motd-success {
            background: $success;

            a {
                color: darken($success, 20%);
            }
        }
        &.motd-info {
            background: $info;

            a {
                color: darken($info, 20%);
            }
        }
        &.motd-warning {
            background: $warning;

            a {
                color: darken($warning, 20%);
            }
        }
        &.motd-danger {
            background: $danger;

            a {
                color: darken($danger, 20%);
            }
        }

        a {
            text-decoration: underline;
        }

        .fa {
            position: relative;
            top: -1px;
            margin-right: 10px;
            vertical-align: middle;
            font-size: 21px;
        }

        strong {
            display: inline-block;
            margin-right: 10px;
        }

        @media(min-width: $screen-md) {
            height: 50px;
        }
    }
}
