.sticky-status {
    position: fixed;
    bottom: 0;
    right: 10%;
    padding: 5px 10px;
    color: #FFF;

    @include respond-to(md) {
        min-width: 200px;
    }

    &.online {
        background: $brand-primary;
    }

    .close {
        position: absolute;
        top: 1px;
        right: 3px;
    }

    p {
        display: none;
        margin: 0;

        @include respond-to(md) {
            display: inline-block;
        }
    }

    .fa {
        float: right;
        font-size: 1.2em;
        line-height: 1.2em;
    }
}
